@font-face {
    font-family: "kiRang";
    font-weight: normal;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/kiRang/kiRang.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/kiRang/kiRang.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/kiRang/kiRang.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/kiRang/kiRang.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/kiRang/kiRang.ttf") format("truetype");
    font-display: swap;
} 
.kiRang {
    font-family: "kiRang";
}